---
layout: default
---

<div class="container">
  <div class="content-wrapper">
    <header class="post-header">
      <h1 class="post-title">Archives</h1>
    </header>

    {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in posts_by_year %}
      <h2 class="archive-year">{{ year.name }}</h2>
      <ul class="archive-list">
        {% for post in year.items %}
        <li class="archive-item">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d" }}</time>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
