<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.css' }}">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    

  </head>

  <body>

    <div class="wrapper">

      <header id="header" class="header"> 

        <a style="font-family:monospace;" href="/"><span>0xdeadbeef</span><span style="color:MediumSpringGreen">JERKY</span></a>

        <input style="text-align: right; float: right" class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn" onclick="myFunction(this)"><span class="navicon"></span>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </label>
        
        <ul class="menu">
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a class="icon" href="https://linkedin.com/in/dspinosa" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a class="icon" href="https://github.com/0xdeadbeefJERKY" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a class="icon" href="https://twitter.com/0xdeadbeefJERKY" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
        </ul>

      </header>

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <h3 style="text-align:center;"><i>{{ site.description }}</i></h3>
          <br>
          <hr>
        </div>

        {{ content }}

      </section>

    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');

        $('button').click(function() {
          $(this).toggleClass('expanded').siblings('div').slideToggle();
        });
      </script>
    {% endif %}

    <script type="text/javascript">
      function myFunction(x) {
        x.classList.toggle("change");
      }
    </script>

  </body>
</html>